:root{
    --transitionBase:cubic-bezier(0.215, 0.610, 0.355, 1);

}

.CardListingWrapper{
    overflow: hidden;
}

.CardListing{
    padding-top:10vh;
    height: 100vh;
    transition: padding-top var(--transitionBase);
    &.is-active{
        padding-top:0;
    }
}

article{
    display:none;
    top:0px;
    left:0;
    position: absolute;
    width:100%;
    background: #fff;
    transition: all var(--transitionBase);
    z-index: 5;
    .Card.is-active &{
        display: block;
        top:222px;
    }
}


.Card{display: none;}
.Card:first-child{display: block;}


.Card{
    border:1px solid rgba(255,255,255,.5);
    border-bottom-color: rgba(17,17,17,.5);
    border-right-color: rgba(17,17,17,.5);
    height: 80vh;
    width: 75vw;
    position: relative;
    background-size: cover;
    transition: all 500ms var(--transitionBase); //cubic-bezier(0.19, 1, 0.22, 1);
    margin: 0 auto;
    box-shadow: 0 0 25px rgba(75,75,75,.75);
    text-align: center;
    h2{
        transform: translateX(-50%);
        left: 50%;
        position: absolute;
        bottom: 0;
        color: rgba(255,255,255,.6);
        transition: all 600ms var(--transitionBase);
        width:100%;
    }

    &.is-active{
        width: 100vw;
        height: 37vh;
        box-shadow: none;
        text-align: left;
        border:0;
        h2{
            transform: translateX(0%);
            left: 2rem;
            color: rgba(255,255,255,9);
        }
    }
    &--footer{
        position: absolute;
        bottom:0;
        left:0;
        width:100%;
        background: rgba(100,100,100,.5);
        height: 62px;
    }
}

